<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2 class="mb-4">Ingreso al sistema</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <!-- Usuario -->
         <div class="mb-3">
          <input type="text" formControlName="email" class="form-control" placeholder="Ingrese su email"
            [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            [class.is-valid]="loginForm.get('email')?.valid"/>

          <div class="invalid-feedback">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">
              El correo es obligatorio.
            </small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">
              Ingrese un email válido.
            </small>
          </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
          <input type="password" formControlName="password" class="form-control" placeholder="Ingrese su contraseña"
            [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            [class.is-valid]="loginForm.get('password')?.valid"/>

          <div class="invalid-feedback">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">
              La contraseña es obligatoria.
            </small>
          </div>
        </div>

        <!-- Botón -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Ingresar</button>
        
      </form>

      <p class="text-center mt-3">
        ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
      </p>

    </div>
  </div>
</div>